.idea/
*.class
#vv-finance-investment-pc/
#vv-finance-investment-admin/
#vv-finance-investment-openapi/
#vv-finance-investment-gateway/
#vv-finance-investment-common/
#vv-finance-investment-app/
*.iml
#/.project
target/
*.iws
*.cab
*.msi
*.msm
*.msp
*.lnk
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# ignore eclipse files
.project
.classpath
.settings

atlassian-ide-plugin.xml

.idea_modules/

/out/

vv-finance-investment-admin/vv-finance-investment-admin-service/src/main/java/com/vv/finance/investment/acct/api/TradingAcctController.java
vv-finance-investment-pc/src/main/resources/application.properties
vv-finance-investment-admin/vv-finance-investment-admin-service/src/main/resources/application.properties
vv-finance-investment-app/src/main/resources/application.properties
application-dev.properties
vv-finance-investment-job/src/main/resources/application.properties
# Default ignored files
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
$/
/vv-finance-investment-check/
