<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vv.finance.investment.bg.mapper.index.TIndexSnapshotMapper">
    <resultMap id="BaseResultMap" type="com.vv.finance.investment.bg.entity.index.TIndexSnapshot">
        <!--@mbg.generated-->
        <!--@Table t_index_snapshot-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="indexstatus" jdbcType="VARCHAR" property="indexstatus"/>
        <result column="preclose" jdbcType="DECIMAL" property="preclose"/>
        <result column="open" jdbcType="DECIMAL" property="open"/>
        <result column="high" jdbcType="DECIMAL" property="high"/>
        <result column="low" jdbcType="DECIMAL" property="low"/>
        <result column="close" jdbcType="DECIMAL" property="close"/>
        <result column="last" jdbcType="DECIMAL" property="last"/>
        <result column="totalvol" jdbcType="BIGINT" property="totalvol"/>
        <result column="turnover" jdbcType="DECIMAL" property="turnover"/>
        <result column="netchgpreday" jdbcType="DECIMAL" property="netchgpreday"/>
        <result column="netchgpredaypct" jdbcType="DECIMAL" property="netchgpredaypct"/>
        <result column="easvalue" jdbcType="DECIMAL" property="easvalue"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        code,
        `time`,
        indexstatus,
        preclose,
        `open`,
        high,
        low,
        `close`,
        `last`,
        totalvol,
        turnover,
        netchgpreday,
        netchgpredaypct,
        easvalue,
        create_time,
        update_time
    </sql>

    <select id="getLampIndex" parameterType="string" resultMap="BaseResultMap">
        select s.code,
               s.`last`,
               s.netchgpreday,
               s.netchgpredaypct,
               i.`name` as indexstatus
        from t_index_snapshot s
                     left join t_index_info i on s.code = i.code
        where s.code = #{code}
        order by s.`time` desc
        limit 1
    </select>

    <insert id="batchInsert" parameterType="list">
        REPLACE into t_index_snapshot (code, time, indexstatus, preclose, open, high, low, close, last, totalvol,
                                       turnover, netchgpreday, netchgpredaypct, easvalue)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.code}, #{item.time}, #{item.indexstatus},
             #{item.preclose}, #{item.open}, #{item.high}, #{item.low},
             #{item.close}, #{item.last}, #{item.totalvol}, #{item.turnover},
             #{item.netchgpreday}, #{item.netchgpredaypct}, #{item.easvalue})
        </foreach>
    </insert>
</mapper>