<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vv.finance.investment.bg.mapper.uts.Xnhks0501Mapper">
  <resultMap id="BaseResultMap" type="com.vv.finance.investment.bg.entity.uts.Xnhks0501">
    <!--@mbg.generated-->
    <!--@Table XNHKS0501-->
    <id column="SECCODE" jdbcType="VARCHAR" property="seccode" />
    <id column="F002D" jdbcType="BIGINT" property="f002d" />
    <result column="F001V" jdbcType="VARCHAR" property="f001v" />
    <result column="F003V" jdbcType="VARCHAR" property="f003v" />
    <result column="F004V" jdbcType="LONGVARCHAR" property="f004v" />
    <result column="F005V" jdbcType="LONGVARCHAR" property="f005v" />
    <result column="F006V" jdbcType="LONGVARCHAR" property="f006v" />
    <result column="F007V" jdbcType="LONGVARCHAR" property="f007v" />
    <result column="F008V" jdbcType="LONGVARCHAR" property="f008v" />
    <result column="F009V" jdbcType="LONGVARCHAR" property="f009v" />
    <result column="Create_Date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="Modified_Date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="XDBMASK" jdbcType="BIGINT" property="xdbmask" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    SECCODE, F002D, F001V, F003V, F004V, F005V, F006V, F007V, F008V, F009V, Create_Date, 
    Modified_Date, XDBMASK
  </sql>
</mapper>