<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vv.finance.investment.bg.stock.info.mapper.StockBrokerMapper">

    <insert id="insertOrUpdateBatch" parameterType="collection">
        REPLACE INTO t_stock_broker  (broker_code,simplified_name,complex_name,create_time,update_time)
        VALUES
        <foreach collection="coll" separator="," item="item">
            ( #{item.brokerCode},#{item.simplifiedName},#{item.complexName},now(),now())
        </foreach>
    </insert>
</mapper>
