<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vv.finance.investment.bg.stock.info.mapper.StockCapitalFlowMapper">
    <!--    <insert id="batchSaveOrUpdate" parameterType="list">-->
    <!--        REPLACE into t_stock_capital_flow (code,stockTime,timestamp,capitalInBig)-->
    <!--        values-->
    <!--        <foreach collection="list" item="item"  separator=",">-->
    <!--            (#{item.code},#{item.stockTime},#{item.timestamp},-->
    <!--            #{item.capitalInBig})-->
    <!--        </foreach>-->
    <!--    </insert>-->
</mapper>
