<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vv.finance.investment.bg.mapper.stock.quotes.StockUserCorrelateMapper">
    <resultMap id="BaseResultMap" type="com.vv.finance.investment.bg.stock.info.StockSelfChoose">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <resultMap id="StockBaseMap" type="com.vv.finance.investment.bg.dto.stock.StockBaseDTO">
        <result column="stock_code" property="stockCode"/>
        <result column="stock_name" property="stockName"/>
        <result column="last" property="last"/>
        <result column="preclose" property="preClose"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        stock_code,
        stock_name,
        user_id,
        create_time,
        update_time,
        create_by,
        update_by
    </sql>

    <insert id="batchInsert" parameterType="list" useGeneratedKeys="true">
        INSERT INTO vv_finance_stock.t_user_stock_correlate (stock_code,
                                                             stock_name,
                                                             user_id,
                                                             create_time,
                                                             update_time,
                                                             type,
                                                             create_by,
                                                             update_by)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.stockCode}, #{item.stockName}, #{item.userId}, #{item.createTime},
             #{item.updateTime}, #{item.type}, #{item.createBy}, #{item.updateBy})
        </foreach>
        ON DUPLICATE KEY UPDATE stock_code=values(stock_code),
                                user_id=values(user_id)
    </insert>
    <!--  <select id="getStockSelfChoose" resultMap="BaseResultMap" parameterType="String" >-->
    <!--    select-->
    <!--     stock_code,stock_name,`last`,preclose-->
    <!--     from-->
    <!--  </select>-->
</mapper>